* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: black;
    font-size: 50px;
    
}

a{
    position: relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    letter-spacing: 2px;
    margin: 30px;
    transition: 0.5s;
}

a:hover{
    background: red url(pixel.png);
    transition-delay: 0.8s;
    animation: animate 0.8s steps(8) forwards;
}
@keyframes animate
{
    0%
    {
        background-position-y: 0;
    }
    100%
    {
        background-position-y: 480px;
    }
}


img{
    width: 64px;
    height: 64px;
}



@media screen and (max-width: 960px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        flex-direction: column;
        background: black;
        font-size: 20px;
        
    }
    a{
        position: relative;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        line-height: 30px;
        letter-spacing: 2px;
        margin: 20px;
        transition: 0.5s;
    }
    img{
        width: 32px;
        height: 32px;
    }
}