*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}


body{
    background-image: url(./images/background.jpg);
}

.temp{
    color: white;
    user-select: none;
    font-size: 50px;
    width: 50%;
    border: 3px solid red;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 20vh;
    
}


nav{
    display: flex; /*display specifies the display behavior  || flex Displays an element as a block-level flex container*/
    justify-content: space-around; /*justify-content aligns the flexible container's items when the items do not use all available space on the main-axis (horizontally). || space-around Items will have space before, between, and after them*/
    align-items: center; /*Aligns them duh*/
    min-height: 8vh; /*	Sets the minimum height of an element || vh viewport height */
    background-color: black;

    
}

.logo{
    color: rgb(209, 209, 209);
    text-transform: uppercase; /*text-transform transforms text || upercase.. kinda obvious*/
    letter-spacing: 5px; /*This is geting rediculous now*/
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around; 
    width: 20%;
}

.nav-links  li{
    list-style: none;
}

.nav-links a{
    color: rgb(209, 209, 209);
    text-decoration-line: none; /*clearing underline from link/anchor */
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(209, 209, 209);
    margin: 5px;
    transition: all 0.3s ease;
}


/*nav links width fix*/
@media screen and (max-width: 2024px){
    .nav-links{
        width: 50%;
    }
}


/*mobile view*/

@media screen and (max-width: 768px) {

    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;

    }

    .burger{
        display: block;
    }

    .temp{
        color: white;
        user-select: none;
        font-size: 2vh;
        width: 30%;
        border: 3px solid red;
        padding: 10px;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        margin-top: 20vh;
        
    }
    

}

.nav-active{
    transform: translateX(0%);
}


@keyframes navLinkFade{

    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
    
.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
