@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Mochiy+Pop+P+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
}

a{
    text-decoration: none;
    align-items: center;
    padding-left: 25%;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero{
    background-image: url(./background.jpg);
}