*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.main{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 130px;
    cursor: pointer;
}

.temp{
    text-align: center;
    padding-top: 500px;
    color: white;
    font-size: 50px;
    text-shadow: 5px 5px black;
}