html {
    background-image:url('./images/back.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    
}
.mainscreen h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 35%;
    font-weight: 1000;
    color: white;
    font-size: 75px;
    text-shadow: 2px 2px #ff0000;
}

.button{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px black;
    
}

button{
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}

.button a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px black;
}

.develop{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 40%;
    font-weight: 1000;
    color: white;
    font-size: 15px;
    text-shadow: 2px 2px #ff0000;
    box-sizing: border-box;
}