html {
    background-image:url('./images/back.jpg');
    background-color: #000000; 
    height: 100vh; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.mainscreen h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 35vh;
    font-weight: 1000;
    color: white;
    font-size: 75px;
    text-shadow: 2px 2px #ff0000;
}
.temp h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 35vh;
    font-weight: 1000;
    color: white;
    font-size: 30px;
}

.button{
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px black;
    
}

button{
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
}

.button a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px black;
}
