*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.main{
    width: 100%;
    height: 100vh;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 130px;
    cursor: pointer;
}

button{
    color: white;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-size: 30px;
}


.content{
    color: white;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

.content h1 {
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
    text-shadow: 2px 2px black;
}
.content small {
    font-size: 30px;
    text-shadow: 2px 2px black;
}
